---
import CurrentDate from '../components/CurrentDate.astro';
import CurrentWeather from '../components/CurrentWeather.astro';
import ThreeHourForecast from '../components/ThreeHourForecast.astro';
import Welcome from '../components/Welcome.astro';
import DailyForecast from "../components/DailyForecast.astro";
import SearchInput from '../components/SearchInput.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<div class="flex items-center max-w-[1080px] mx-auto pt-28 justify-between">
		<div>Favorite Cities</div>
		<h1 id="city-name" class="text-center text-2xl font-medium w-full">Vancouver</h1>
		<div class="max-w-[240px] ml-auto">
			<SearchInput />
		</div>
	</div>

	<div class="flex justify-center max-w-[1080px] mx-auto pt-28">
		<div class="w-full">
			<div class="flex">
				<CurrentDate />
				<CurrentWeather />
			</div>
			<ThreeHourForecast lat="48.8566" lon="2.3522" city="Paris" />
		</div>
  		<DailyForecast />
	</div>
</Layout>

<script>
  window.addEventListener('cityChanged', (event) => {
    const cityData = event.detail;
    const cityNameElement = document.getElementById('city-name');
    if (cityNameElement) {
      cityNameElement.textContent = cityData.address || 'Vancouver';
    }
  });
</script>