---
import CurrentDate from '../components/CurrentDate.astro';
import CurrentWeather from '../components/CurrentWeather.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
---

<Layout>
	<div class="flex">
		<CurrentDate />
		<CurrentWeather />
	</div>
	<Welcome />
</Layout>
